.capitalize {
  text-transform: capitalize;
}
#navbar-brand {
  float: right;
}
.layout {
  padding-top: 3.5rem;
}
.index .url {
  word-break: break-all;
}
@media (max-width: 544px) {
  .login #submit,
  .signup #submit {
    margin-top: 3rem;
  }
}
