 .blocktext {
  font-family: 'Pragmata Pro', 'Courier New', Courier, monospace;
}

.capitalize {
  text-transform: capitalize;
}

@media (max-width: 544px) {
  .login #submit,
  .register #submit {
    margin-top: 3rem;
  }
}