extends layout

block content
  
  .index
    .container-fluid
      .row
        .col-sm-12

          h1.display-1.text-xs-center.my-3 HotManSys

          if hotels
            table.table.table-striped.table-bordered
              thead.thead-inverse
                tr
                  th.hotel_name Hotel
                  th.stars_num  Stars
                  th.price_id   Price
                  th.country    Country
                  th.city       City
                  th.address    Address
                  th.site       Site
                  th.rating     Rating
              tbody
                each hotel in hotels
                  tr
                      td.hotel_name.font-weight-bold= hotel.hotel_name
                      td.stars_num=  hotel.star_num
                      td.price_id=   hotel.price_id
                      td.country=    hotel.country
                      td.city=       hotel.city
                      td.address=    hotel.address
                      td.url=       hotel.url
                      td.rating=     hotel.rating