extends layout

block content
  .container-fluid
    .row
      .col-sm-12
        h1 #{title}

        table.table.table-striped
          thead.thead-inverse
            tr
              each val, index in hotels[1]
                th= index
          tbody
            each hotel in hotels
              tr
                each val, index in hotel
                  td= val